 #bg-heder{
    background-color: #e2e7ec;
    width: 1200px;
    height: 1400px;
    margin: 0 auto;
    padding-left: 20px;
    padding-r: 20px;
 }
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
      "car car item-1"
      "car car item-1"
      "item-2 item-3 item-4"
      "item-2 item-3 item-4";
  }
  
  .car { grid-area: car; }
  
  .item-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "images-1 images-1 images-1"
      "text-1 text-1 text-1";
    grid-area: item-1;
    background-color: white;
    width: 360px;
  }
  
  .images-1 { grid-area: images-1; }
  
  .text-1 { grid-area: text-1; }
  
  .item-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "images-2 images-2 images-2"
      "text-2 text-2 text-2";
    grid-area: item-2;
    background-color: white;
    width: 359px;
  }
  
  .images-2 { grid-area: images-2; }
  
  .text-2 { grid-area: text-2; }
  
  .item-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "images-3 images-3 images-3"
      "text-3 text-3 text-3";
    grid-area: item-3;
    background-color: white;
    width: 359px;
  }
  
  .images-3 { grid-area: images-3; }
  
  .text-3 { grid-area: text-3; }
  
  .item-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "images-4 images-4 images-4"
      "text-4 text-4 text-4";
    grid-area: item-4;
    background-color: white;
    width: 359px;
  }
  
  .images-4 { grid-area: images-4; }
  
  .text-4 { grid-area: text-4; }
  #car-img {
    width: 763px;
  }
  .box-text{
    padding: 20px;
 }
 .data{
    font-size: 14px;
    color: #898f99;
    padding-top: 143px;
    padding-bottom: 39px;
    letter-spacing: 3px;
      
 }
 .content-text{
   color: black;
   font-size: 22px;
   text-align: left;
   font-family: sans-serif;
}